<div>
    <mat-card>
        <mat-card-content>
            <form (ngSubmit)="onSubmit()">
            <mat-form-field>
                <input matInput [formControl]="categoryInput" placeholder="add category">
            </mat-form-field>
            </form>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-content>
            <mat-list class="lst-items" cdkDropList (cdkDropListDropped)="drop($event)">
                <mat-list-item *ngFor="let category of categories; trackBy:trackCategory"
                [attr.data-category]="category.name" layout="row" cdkDrag>
                <span class="example-handle" cdkDragHandle>
                    <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
                    <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
                    <path d="M0 0h24v24H0z" fill="none"></path>
                    </svg>
                </span>
                    <span [ngClass]="'flex1'" class="item">{{category.name}}</span>
                    <span *ngIf="category.state === 'from_item'">from item</span>
                    <div class="button-list" flex>
                        <button *ngIf="category.__state === 'from_item'" mat-icon-button (click)="save(category.name)"
                        title="This category is not saved yet. Instead it is given by at least one line item in your list.">
                            <mat-icon>save</mat-icon>
                        </button>
                        <button *ngIf="category.__state !== 'from_item' && !category.isDefault" mat-icon-button (click)="remove(category._id)">
                            <mat-icon>delete</mat-icon>
                        </button>
                        <button *ngIf="!category.visible" mat-icon-button (click)="visible(category._id, true)"
                        title="Show this category in shopping list.">
                            <mat-icon>visibility</mat-icon>
                        </button>
                        <button *ngIf="category.visible" mat-icon-button (click)="visible(category._id, false)"
                        title="Don't show this category in shopping list.">
                            <mat-icon>visibility_off</mat-icon>
                        </button>
                    </div>
                </mat-list-item>
            </mat-list>
        </mat-card-content>
    </mat-card>
</div>
