<div>
    <md-card>
        <md-card-content>
            <md-input-container>
                <input mdInput (keyup.enter)="onEnter(box)" #box placeholder="add category" value="">
            </md-input-container>
        </md-card-content>
    </md-card>
    <md-card>
        <md-card-content>
            <md-list class="lst-items" [dragula]='"categories"' [dragulaModel]='categories'> 
                <md-list-item *ngFor="let category of categories; trackBy:trackCagegory" layout="row">
                    <span [ngClass]="'flex1'" class="item">{{category.name}}</span>
                    <span *ngIf="category.state === 'from_item'">from item</span>
                    <div class="button-list" flex>
                        <button *ngIf="category.__state === 'from_item'" md-icon-button (click)="save(category.name)"
                        title="This category is not saved yet. Instead it is given by at least one line item in your list.">
                            <md-icon>save</md-icon>
                        </button>
                        <button *ngIf="category.__state !== 'from_item' && !category.isDefault" md-icon-button (click)="remove(category._id)">
                            <md-icon>delete</md-icon>
                        </button>
                        <button *ngIf="!category.visible" md-icon-button (click)="visible(category._id, true)"
                        title="Show this category in shopping list.">
                            <md-icon>visibility</md-icon>
                        </button>
                        <button *ngIf="category.visible" md-icon-button (click)="visible(category._id, false)"
                        title="Don't show this category in shopping list.">
                            <md-icon>visibility_off</md-icon>
                        </button>
                    </div>
                    <md-divider ng-if="!$last"></md-divider>
                </md-list-item>
            </md-list>
        </md-card-content>
    </md-card>
</div>