<mat-list-item class="category-item" [attr.data-category]="category.name" layout="row">
  <span [ngClass]="'flex1'" class="item">{{category.name}}</span>
  <span *ngIf="category.state === 'from_item'">from item</span>
  <div class="button-list" flex>
    <button *ngIf="category.__state === 'from_item'" mat-icon-button (click)="save(category.name)" title="This category is not saved yet. Instead it is given by at least one line item in your list.">
      <mat-icon>save</mat-icon>
    </button>
    <button *ngIf="category.__state !== 'from_item' && !category.isDefault" mat-icon-button (click)="remove(category._id)">
      <mat-icon>delete</mat-icon>
    </button>
    <button *ngIf="!category.visible" mat-icon-button (click)="visible(category._id, true)" title="Show this category in shopping list.">
      <mat-icon>visibility</mat-icon>
    </button>
    <button *ngIf="category.visible" mat-icon-button (click)="visible(category._id, false)" title="Don't show this category in shopping list.">
      <mat-icon>visibility_off</mat-icon>
    </button>
  </div>
</mat-list-item>