<mat-tab-group>
    <ng-container *ngFor="let category of getVisibleCategories(); trackBy:trackCategory">
        <mat-tab label="{{category.name}}">
            <mat-card>
                <mat-card-content>
                    <mat-list>
                        <app-checklist-item *ngFor="let item of getLineItems(category.name); trackBy: trackLineItems"
                            [item]="item">
                        </app-checklist-item>
                    </mat-list>
                </mat-card-content>
            </mat-card>
            <section>
                <button (click)="done(category.name)" mat-button>done</button>
            </section>
        </mat-tab>
    </ng-container>
</mat-tab-group>