<mat-tab-group>
    <mat-tab *ngFor="let category of getVisibleCategories(); trackBy:trackCategory" label="{{category.name}}">
        <div>
            <mat-card>
                <mat-card-content>
                    <form (ngSubmit)="onSubmit(category.name)">
                        <mat-form-field>
                            <input matInput [formControl]="itemInput" placeholder="add item" value="">
                        </mat-form-field>
                    </form>
                </mat-card-content>
            </mat-card>
            <mat-card>
                <mat-card-content>
                    <mat-list>
                        <app-editor-item *ngFor="let item of lineItems[category.name]; trackBy:trackLineItems" [item]="item"></app-editor-item>
                    </mat-list>
                </mat-card-content>
            </mat-card>

        </div>
    </mat-tab>
</mat-tab-group>