<div>
    <mat-card>
        <mat-card-content>
            <form (ngSubmit)="onSubmit()">
                <mat-form-field>
                    <input matInput [formControl]="categoryInput" placeholder="add category">
                </mat-form-field>
            </form>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-content>
            <mat-list class="lst-items" cdkDropList (cdkDropListDropped)="drop($event)">
                <app-category-item [class.mat-elevation-z8]=true cdkDrag *ngFor="let category of categories; trackBy:trackCategory" [(category)]="category"></app-category-item>
            </mat-list>
        </mat-card-content>
    </mat-card>
</div>