/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.qty {
    display: inline-block;
    width: 2em;
    text-align: right;
    padding-right: 6px;
}

.flex1 {
    flex: 1;
}

.item {
    display: inline-block;
    /* width: 200px;*/
}

.spacer {
    flex: 1 1 auto;
}

.legal {
  font-size: 0.8em;
  float: right;
  padding: 0.8em;
}
