/* You can add global styles to this file, and also import other style files */
@import '~https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~dragula/dist/dragula.css';

.qty {
    display: inline-block;
    width: 2em;
    text-align: right;
    padding-right: 6px;
}

.item {
    display: inline-block;
    /* width: 200px;*/
}

.spacer {
    flex: 1 1 auto;
}

.legal {
  font-size: 0.8em;
  float: right;
  padding: 0.8em;
}
