<md-toolbar>
    <nav>
        <a routerLink="/modify" routerLinkActive="active">Liste ändern</a>
        <a routerLink="/shop" routerLinkActive="active">Einkaufen</a>
    </nav>
    <span class="spacer"></span>
    <span class="user">Hi <strong>{{user.name || "Anonymous"}}</strong>&nbsp;|&nbsp;</span>
    <nav>
        <a *ngIf="!user.logged_in" routerLink="/log-in" routerLinkActive="active">Log in</a>
        <a *ngIf="user.logged_in" routerLink="/log-out" routerLinkActive="active">Log out</a>
        <a *ngIf="!user.logged_in" routerLink="/sign-up" routerLinkActive="active">Sign up</a>
    </nav>
</md-toolbar>
<router-outlet></router-outlet>