<mat-toolbar>
    <nav>
        <a routerLink="/modify" routerLinkActive="active">
            <mat-icon>mode edit</mat-icon></a>
        <a routerLink="/shop" routerLinkActive="active">
            <mat-icon>store</mat-icon></a>
        <a routerLink="/categories" routerLinkActive="active">
            <mat-icon>category</mat-icon></a>
    </nav>
    <span class="spacer"></span>
    <span class="user">Hi <strong>{{username() || "-"}}</strong>&nbsp;|&nbsp;</span>
    <nav>
        <a *ngIf="!loggedIn()" routerLink="/sign-in" routerLinkActive="active">Sign in</a>
        <button title="sign out" mat-icon-button *ngIf="loggedIn()" (click)="accountService.signOut()"><mat-icon>lock-open</mat-icon></button>
        <a *ngIf="!loggedIn()" routerLink="/sign-up" routerLinkActive="active">Sign up</a>
    </nav>
</mat-toolbar>
<div class="app-content">
    <router-outlet></router-outlet>
</div>
<a class="legal" href="/impressum.html">Impressum</a>
<a class="legal" href="/datenschutz.html">Datenschutzerklärung</a>
