<md-card>
    <md-card-content>
        <md-list>
            <md-list-item *ngFor="let item of getLineItems(); trackBy: trackLineItems" layout="row">
                <md-checkbox [(ngModel)]="item.bought" (click)="shoppingListService.updateLineItem(item)">
                    <span class="qty">{{item.qty}}</span>
                    <span class="item">{{item.name}}</span>
                </md-checkbox>
                <md-divider></md-divider>
            </md-list-item>
        </md-list>
        <section>
            <button (click)="done()" md-button>done</button>
        </section>
    </md-card-content>
</md-card>
