<md-tab-group>
    <ng-container *ngFor="let category of categories">
    <md-tab  *ngIf="getLineItems(category.name).length > 0" label="{{category.name}}">
        <div>
            <md-card>
                <md-card-content>
                    <md-list class="lst-items">
                        <md-list-item *ngFor="let item of getLineItems(category.name); trackBy: trackLineItems" layout="row">
                            <md-checkbox [(ngModel)]="item.bought" (click)="shoppingListService.updateLineItem(item)">
                                <span class="qty">{{item.qty}}</span>
                                <span class="item">{{item.name}}</span>
                            </md-checkbox>
                            <md-divider ng-if="!$last"></md-divider>
                        </md-list-item>
                    </md-list>
                </md-card-content>
            </md-card>
        </div>
        <section>
            <button (click)="done(category.name)" md-button>done</button>
        </section>
    </md-tab>
    </ng-container>
</md-tab-group>