<md-tab-group>
    <md-tab *ngFor="let category of getVisibleCategories(); trackBy:trackCategory" label="{{category.name}}">
        <div>
            <md-card>
                <md-card-content>
                    <md-input-container>
                        <input mdInput (keyup.enter)="onEnter(box)" #box placeholder="add item" [attr.data-category]="category.name" value="">
                    </md-input-container>
                </md-card-content>
            </md-card>

            <md-card>
                <md-card-content>
                    <md-list class="lst-items"><!-- [dragula]='category.name' [dragulaModel]='lineItems[category.name]'--> 
                        <md-list-item *ngFor="let item of lineItems[category.name]; trackBy:trackLineItems" layout="row">
                            <md-checkbox [ngClass]="'flex1'" [(ngModel)]="item.selected" (click)="shoppingListService.updateLineItem(item)">
                                <span class="qty">{{item.qty}}</span>
                                <span class="item">{{item.name}}</span>
                            </md-checkbox>
                            <div class="button-list" flex>
                                <button md-icon-button (click)="decrease(item)">
                                    <md-icon>remove</md-icon>
                                </button>
                                <button md-icon-button (click)="increase(item)">
                                    <md-icon>add</md-icon>
                                </button>
                                <button md-icon-button (click)="remove(item)">
                                    <md-icon>delete</md-icon>
                                </button>
                            </div>
                            <md-divider ng-if="!$last"></md-divider>
                        </md-list-item>
                    </md-list>
                    <!-- <pre>{{lineItems|json}}</pre> -->

                </md-card-content>
            </md-card>

        </div>
    </md-tab>
</md-tab-group>