<mat-tab-group>
    <mat-tab *ngFor="let category of getVisibleCategories(); trackBy:trackCategory" label="{{category.name}}">
        <div>
            <mat-card>
                <mat-card-content>
                    <mat-input-container>
                        <input matInput (keyup.enter)="onEnter(box)" #box placeholder="add item" [attr.data-category]="category.name" value="">
                    </mat-input-container>
                </mat-card-content>
            </mat-card>

            <mat-card>
                <mat-card-content>
                    <mat-list class="lst-items"><!-- [dragula]='category.name' [dragulaModel]='lineItems[category.name]'-->
                        <mat-list-item *ngFor="let item of lineItems[category.name]; trackBy:trackLineItems" layout="row">
                            <mat-checkbox [ngClass]="'flex1'" [(ngModel)]="item.selected" (click)="shoppingListService.updateLineItem(item)">
                                <span class="qty">{{item.qty}}</span>
                                <span class="item">{{item.name}}</span>
                            </mat-checkbox>
                            <div class="button-list" flex>
                                <button mat-icon-button (click)="decrease(item)">
                                    <mat-icon>remove</mat-icon>
                                </button>
                                <button mat-icon-button (click)="increase(item)">
                                    <mat-icon>add</mat-icon>
                                </button>
                                <button mat-icon-button (click)="remove(item)">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </div>
                            <mat-divider ng-if="!$last"></mat-divider>
                        </mat-list-item>
                    </mat-list>
                    <!-- <pre>{{lineItems|json}}</pre> -->

                </mat-card-content>
            </mat-card>

        </div>
    </mat-tab>
</mat-tab-group>
